<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Курси Валют</title>
</head>
<body>
<h1>Курси Валюта</h1>
<section>
    <h2>Оберіть тип конвертації:</h2>
    <form action="/rates/today" method="get">
        <input type="radio" name="ChooseType" value="inDollars" id="1" th:checked="${ChooseType == 'inDollars'}">
        <label for="1">Ціна долара у валюті</label>
        <input type="radio" name="ChooseType" value="Reverse" id="2" th:checked="${ChooseType == 'Reverse'}">
        <label for="2">Ціна валюти у доларах</label>
        <button type="submit">Показати</button>
    </form>
</section>

<table border="1">
    <thead>
    <tr>
        <th>Валюта</th>
        <th>Курс до долара</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rate : ${rates}">
        <td th:text="${rate.currency.name}"></td>
        <td th:switch="${ChooseType}">
            <span th:case="'inDollars'" th:text="${rate.rate}"></span>
            <span th:case="'Reverse'" th:text="${1 / rate.rate}"></span>
        </td>
        <td th:text="${rate.date}"></td>
    </tr>
    </tbody>
</table>

<h2>Пошук</h2>
<form method="get" action="/rates">
    <label for="currencyName">Валюта: </label>
    <input type="text" id="currencyName" name="currencyName" required>
    <label for="startDate">Початкова дата: </label>
    <input type="date" id="startDate" name="startDate" required>
    <label for="endDate">Кінцева дата: </label>
    <input type="date" id="endDate" name="endDate" required>
    <button type="submit">Пошук</button>
</form>
</body>
</html>
